#previous files
initial_scoping/
stencil_experiments/


#simvue files
*.ini
*.toml

#Saved Models
Models/
*.pth
*.pt

#Venv
venv/

#Saved Plot
Plots/
*.png
*.pdf
*.svg

#SLURM files
*.file
*.out

#Log files
*.log

#Submission Script — keep run scripts
#*.sh

#Data
*.npy
*.npz
*.csv
*.json

#Results/outputs
PRRS/results/
PRRS/results_all/
results_all/
results/
logs/

#Cache
__pycache__/
*.pyc
*.pyo

#Misc
*.docx
